body {
  padding: 0;
}

.home-header {
  background-image: url("../images/iteration-1-images/home-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 1080px;
}

.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.text-container p {
  color: #fdc913;
  font-family: Satisfy;
  font-size: 2rem;
  text-align: center;
  padding: 0;
  margin: 0;
}

.text-container h1 {
  color: white;
  font-family: "Roboto Condensed";
  font-size: 5.5rem;
  font-weight: 300;
  text-align: center;
  line-height: 6rem;
  padding: 0;
  margin: 0;
}

.logo-item {
  padding: 3rem;
}

#btn {
  background-color: #fdc913;
  padding: 1rem 4rem;
  color: #292929;
  font-family: "Roboto Condensed";
  margin: 1rem 0.7rem;
  border-radius: 10rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 426px;
  background-color: white;
}

.menu-container a {
  color: #292929;
  text-decoration: none;
  font-family: "Barlow";
  font-size: 18px;
  font-weight: 500;
  line-height: 32.4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 32px;
  padding: 12px 20px;
}

.menu-container a:hover {
  background-color: #292929;
  color: white;
  transition: 0.3s;
}

.main-container {
  background-color: #faf7f2;
  display: flex;
  flex-direction: column;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.campaign-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  margin: 4rem auto;
}
.campaign-items a {
  background-color: white;
  border-radius: 30px;
  padding: 0.9rem 1.8rem;
  text-decoration: none;
  color: #ce2829;
  font-weight: 600;
  font-size: 0.9rem;
  font-family: "Barlow";
  margin: 1.5rem;
}
.column-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  width: 33rem;
  height: 31rem;
}
.first-item {
  background: url("/src/images/iteration-2-images/cta/kart-1.png");
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  width: 33rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2rem;
  padding-top: 3rem;
}

.item:first-child {
  background-image: url("/src/images/iteration-2-images/cta/kart-2.png");
  border-radius: 10px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #292929;
  flex: 1;
}
.item:last-child {
  background-image: url("/src/images/iteration-2-images/cta/kart-3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  flex: 1;
}

.item:last-child h2 {
  color: #292929;
}

.column-items h2 {
  margin: 0;
  padding: 1.7rem;
  font-size: 2rem;
  font-family: "Barlow";
  font-weight: 600;
  line-height: 3rem;
  color: white;
}

.first-item h2 {
  margin: 0;
  color: white;
  font-size: 4.5rem;
  font-family: Quattrocento;
  font-weight: 600;
  line-height: 4.5rem;
}

.first-item p {
  padding-top: 1rem;
  color: white;
  font-family: "Barlow";
  font-size: 1.2rem;
  font-weight: 500;
}

.first-item a {
  margin: 1rem 0 0 0;
}

.main-middle-section p {
  color: #ce2829;
  font-family: Satisfy;
  font-size: 2rem;
  text-align: center;
  padding: 0;
  margin: 0;
}
.main-middle-section h3 {
  color: #292929;
  font-family: Barlow;
  font-size: 42px;
  font-weight: 600;
  text-align: center;
  padding: 0;
  margin: 1.5rem;
}

.middle-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.middle-nav a {
  background-color: white;
  color: #292929;
  text-decoration: none;
  font-family: "Barlow";
  font-size: 18px;
  font-weight: 500;
  line-height: 32.4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 30px;
  padding: 12px 20px;
}

.middle-nav a:hover {
  background-color: #292929;
  color: white;
  transition: 0.3s;
}

.main-bottom-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 1068px;
  margin: 3rem auto;
}

.main-bottom-section a {
  background-color: white;
  border-radius: 12px;
  text-decoration: none;
}

.main-bottom-section img {
  padding: 32px;
}

.main-bottom-section h4 {
  color: #292929;
  font-family: Barlow;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  padding-left: 32px;
}

.main-bottom-section p {
  color: #5f5f5f;
  padding-left: 32px;
  font-weight: 600;
  font-family: Barlow;
  font-size: 16px;
  line-height: 29px;
}

.price-container {
  padding-bottom: 32px;
}

.price-text {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 300px;
}

.price-text-right {
  display: flex;
  gap: 2rem;
}

.price-text-right .price {
  font-weight: bold;
  font-size: 20px;
  color: #292929;
}

@media (max-width: 500px) {
  .home-header {
    min-height: 100vh;
    padding: 2rem 1rem;
  }

  .banner-container {
    gap: 12px;
  }

  .logo-item {
    padding: 1.5rem;
    width: 350px;
  }

  .text-container p {
    font-size: 1.4rem;
  }

  .text-container h1 {
    font-size: 5rem;
    line-height: 5rem;
  }

  #btn {
    padding: 0.8rem 2.5rem;
    font-size: 1rem;
  }

  .menu-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
  }

  .menu-container a {
    max-width: 40%;
    text-align: center;
    font-size: 16px;
    flex-wrap: wrap;
    font-weight: bold;
  }

  .campaign-items {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
  }
  .first-item a {
    margin-bottom: 150px;
  }

  .first-item {
    width: 83%;
    max-height: 35vh;
  }
  .column-items {
    width: 90%;
    min-height: 50vh;
  }

  .first-item h2 {
    font-size: 68px;
    font-weight: 700;
    line-height: 72px;
  }

  .first-item p {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
  }

  .main-middle-section {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .main-middle-section h3 {
    font-size: 24px;
    display: flex;
  }

  .middle-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  .middle-nav a {
    min-width: 40%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

  .main-bottom-section {
    flex-direction: column;
    width: 90%;
    gap: 1rem;
    padding: 2rem;
  }

  .main-bottom-section a {
    width: 100%;
  }

  .main-bottom-section img {
    align-items: center;
    justify-content: center;
    margin: 0 0 0 2rem;
  }

  .price-text {
    display: flex;
    justify-content: space-between;
  }

  .price-text-right {
    margin-left: 10rem;
  }

  .price {
    margin: 1rem;
  }
}
