@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Quattrocento&family=Roboto+Condensed&display=swap");

#root {
  font-family: "Barlow", sans-serif;
}

body {
  margin: 0;
}

.order-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 64px;
}

.order-container {
  max-width: 532px;
  width: 100%;
  padding: 31px 0;
}

.product-info h1 {
  font-family: "Barlow", sans-serif;
  font-size: 22px;
  color: #292929;
  text-align: start;
  padding-bottom: 14px;
}

.meta {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.meta-right-side {
  display: flex;
  gap: 50px;
  color: #5f5f5f;
}

.price {
  font-size: 28px;
  font-weight: bold;
}

.description {
  font-family: "Barlow", serif;
  font-size: 16px;
  color: #5f5f5f;
  line-height: 29px;
}

.order-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
}

.form-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.size-dough {
  display: flex;
  gap: 124px;
}

.size-selection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.size-selection label {
  color: #5f5f5f;
}

.size-selection label input {
  margin: 0 15px 0 0;
}

.size-selection h3,
.dough-selection h3 {
  margin: 0;
}

.dough-selection {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dough-selection select {
  height: 38x;
  width: 132px;
}

.ingredients-selection {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  gap: 40px;
}

.ingredients-top {
  display: flex;
  flex-direction: column;
}

.ingredients {
  height: 214px;
  width: 524px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.ingredients label {
  font-weight: bold;
}

.ingredients label input {
  margin: 0 11px 0 0;
}

.customer-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.customer-info h2,
.note-section h2 {
  font-size: 20px;
  font-family: "Barlow", sans-serif;
}

#customer-name-text,
#note-text {
  width: 100%;
  height: 56px;
  resize: none;
  padding: 12px 16px;
  line-height: 2;
  box-sizing: border-box;
  border-radius: 8px;
}

.note-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 1px;
}

.form-bottom {
  flex: 1;
  display: flex;
  width: 100%;
  gap: 10px;
}

.item-value {
  display: flex;
  flex: 1;
}

.item-value span {
  background-color: #fdc913;
  display: flex;
  height: 56px;
  width: 56px;
  align-items: center;
  justify-content: center;
  padding: 0;
}

#top-item {
  border-radius: 8px 0 0 8px;
}

#middle-item {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 0%;
}

#bottom-item {
  border-radius: 0 8px 8px 0;
}

.summary-section {
  flex: 2;
  width: 350px;
  height: 255px;
}

.summary {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding-bottom: 40px;
}

.summary h3 {
  padding-left: 58px;
  padding-top: 32px;
}

.summary span {
  display: flex;
  justify-content: space-around;
  height: 30px;
}

.summary-chose {
  color: #5f5f5f;
  font-weight: bold;
}

.summary-total {
  color: #ce2829;
  font-weight: bold;
}

button {
  width: 100%;
  height: 62px;
  padding: 14px;
  background-color: #fdc913;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 500px) {
  .order-page {
    padding: 0 3rem 48px;
  }

  .order-container {
    padding: 16px 0;
  }

  .meta {
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
  }

  .meta-right-side {
    gap: 16px;
    margin-top: 0.5rem;
  }

  .order-form {
    gap: 24px;
  }

  .size-dough {
    flex-direction: row;
    gap: 24px;
  }

  .size-selection,
  .dough-selection {
    flex: 1;
  }
  .dough-selection select {
    width: 100%;
  }

  .ingredients {
    width: 100vw;
    height: auto;
    font-size: 23px;
    grid-template-columns: repeat(2, 1fr);
  }

  .form-bottom {
    flex-direction: column;
    gap: 16px;
  }

  .summary-section {
    width: 100%;
    height: auto;
  }

  .summary {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }

  .summary h3 {
    padding-left: 4.3rem;
    margin: 0;
  }

  .item-value {
    justify-content: center;
  }

  button {
    height: 56px;
    font-size: 1rem;
  }
}
