.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ce2829;
  gap: 266px;
}

#logo-item {
  width: 361px;
  height: 45px;
  padding-top: 149px;
}

.success-h1 {
  margin: 0;
  font-size: 86px;
  font-weight: 300;
  text-align: center;
  line-height: 92px;
  color: white;
  flex: 1;
}

@media (max-width: 500px) {
  .success-container {
    gap: 200px;
  }

  #logo-item {
    height: auto;
    padding-top: 9rem;
  }

  .success-h1 {
    font-size: 72px;
    line-height: 92px;
  }
}
