.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ce2829;
  margin: 0;
  padding: 0;
}

#logo-item {
  width: 361px;
  height: 45px;
  flex: 1;
}

.success-h1 {
  margin: 0;
  font-size: 86px;
  font-weight: 300;
  text-align: center;
  line-height: 92px;
  color: white;
  flex: 1;
}

.success-border {
  border: 1px solid #d9d9d9;
  width: 750px;
  margin-bottom: 50px;
}

.summary-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  flex: 1;
  color: white;
  background-color: #ce2829;
  margin-bottom: 50px;
  border: none;
}

.summary-info-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: 280px;
}

.pizza-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 24px;
}

.summary-info-group p {
  margin: 6px 0;
  font-size: 16px;
}

.extras {
  display: flex;
}

.extras-title {
  font-weight: bold;
  flex: 0.8;
}
.extras-text {
  flex: 1.2;
}
.summary-price-group {
  width: 360px;
  padding: 28px 32px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 8px;
}

.summary-price-group h3 {
  text-align: center;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 600;
}

.price-row {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 12px;
}

.price-row.total {
  font-weight: 600;
}

@media (max-width: 500px) {
  .success-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #logo-item {
    height: auto;
    padding-top: 9rem;
  }

  .success-h1 {
    font-size: 72px;
    line-height: 92px;
  }

  .summary-success {
    margin-bottom: 10rem;
    width: 50%;
  }

  .success-border {
    width: 70%;
  }
}
