body {
  margin: 0;
  padding: 149px;
  background-color: #ce2829;
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 266px;
}

#logo-item {
  width: 361px;
  height: 45px;
}

h1 {
    margin: 0;
  font-size: 86px;
  font-weight: 300;
  text-align: center;
  line-height: 92px;
  color: white;
}
